<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a th:href="@{/admin/registration}">New Registration</a><br>
<a th:href="@{/admin/login/ADMIN}">Admin Login</a><br>
<a th:href="@{/admin/login/EMPLOYEE}">Employee Login</a>
</body>
</html>