<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <link rel="stylesheet" th:href="@{/css/styles.css}" /> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


	<div class="container">

		<div class="row">
			<div class="col-lg-8">
				<h3>Menu Page</h3>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="success">
							<th>Product Name</th>
							<th>Product Price</th>
							<th>Select Quantity</th>
							<th>Add Product</th>
						</tr>
						<tr th:each="list : ${lists}">
							<td th:text="${list.productName}">Product Name</td>
							<td th:text="${list.price}">Price</td>
							<form action="#" th:action="@{/employee/addcart}" th:Object="${product}" method="POST">
								<input type="hidden" name="price" th:value="${list.price}" /> <input
									type="hidden" name="productName" th:value="${list.productName}" />
								<td><select name="quantity">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
								</select></td> <input type="hidden" name="productid"
									th:value="${list.productid}" />
								<td><input type="submit" value="Add To Cart"></td>
							</form>
						</tr>
					</table>
				</div>
				<a th:href="@{/employee/}">Go to Profile</a>
			</div>
			<div class="col-lg-4">
				<h3>Your Cart</h3>
				<p style="color: red;">
					<b th:text="${status}"></b>
				</p>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="success">
							<th>Product Name</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
							<th>remove Product</th>
						</tr>

						<tr th:each="element : ${cart}">
							<div th:each="mapEntry : ${element}">
								<div th:each="entry : ${mapEntry.value}">
								<td th:text="${entry.products.productName}"></td> 
								<td th:text="${entry.products.price}"></td> 
								<td th:text="${(entry.TotalAount)/(entry.products.price)}"></td>
								<td th:text="${entry.TotalAount}"></td>     
							</div>
							<!-- <td th:text="${element}">Product Name</td> -->
							
							<form action="#" th:action="@{/employee/remove}" method="post">
							<input type="hidden" name="itemid" th:value="${mapEntry.key}" />
								<td><input type="submit" value="Remove"></td>
							</form>

						</tr>
					</table>



					</tr>
					</table>


					<form action="#" th:action="@{/employee/order}">
						<div class="table-responsive">
							<table class="table table-bordered">

								<th>Total Amount</th>
								<th th:text="${price}"></th>
							</table>

						</div>
						<!-- <input type="hidden" name="order" th:value="${eid}" /> -->
						<input type="submit" value="Order">
					</form>
					<br>
					<form action="#" th:action="@{/employee/cartremove}">
						<input type="submit" value="Clear All Cart">
					</form>
				</div>
			</div>
		</div>
	</div>
	<br>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>