<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h3><b>Admin Menu</b></h3>
<table >
        <tr>
           <th>Product ID</th>
           <th >Product Name</th>
           <th >Product Price</th>
        </tr>
        <tr th:each="list : ${lists}">
        
	      <td th:text="${list.productid}">Product Id</td>
		  <td th:text="${list.productName}">Product Name</td>
		  <td th:text="${list.price}">Price</td>
		</tr>	
	</table>
	<br>
<a th:href="@{/admin/addproduct}">Add Product</a>
<a th:href="@{/admin/addproduct}">Go to Admin Home</a>
</body>
</html>